{% extends "liga/base.html" %}
{% load staticfiles%}
{% block content %}
<div class="row" style="height:80vh">
  <div class="col-sm-12 my-auto">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Reglamento</div>
      <div class="card-body">
        <p class="card-text">
          <ul>
            <li>El entrenador debe estar forma presencial</li>
            <li>En caso de algun error, se reiniciara el combate</li>
            <li>Uso restringido de pokemones legendarios y miticos</li>
            <li>No se permitira lenguaje ofensivo o algun tipo de acoso entre entrenadores</li>
            <li>El entrenador registrara un equipo formado por 6 pokemones</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>{% endblock %}